############
## Global ##
############

## Debian Installer en Francais par défaut
#d-i debian-installer/locale string fr_FR.UTF-8

# Cette commande permet de régler l'horloge matérielle sur UTC :
#d-i clock-setup/utc boolean true

# Vous pouvez mettre toute valeur acceptée pour $TZ.
# Voyez ce que contient /usr/share/zoneinfo/ pour les valeurs possibles.
#d-i time/zone string Europe/Paris

#########################
## gestion des comptes ##
#########################

# Ne pas créer de compte root (l'utilisateur ordinaire utilisera sudo).
#d-i passwd/root-login boolean false

#Le mot de passe de root en clair...
#d-i passwd/root-password password r00tme
#d-i passwd/root-password-again password r00tme
# ... ou chiffré avec un hachage MD5
#d-i passwd/root-password-crypted password [MD5 hash]

# Le compte sera ajouté à certains groupes. Pour contrôler ces groupes,
# utilisez cette ligne par exemple :
d-i passwd/user-default-groups string audio cdrom video sudo netdev plugdev fuse users

#################################
## Commandes lors de l'install ##
#################################

# La préconfiguration de l'installation n'est pas sécurisée. Rien dans 
# l'installateur ne vérifie que des dépassements de tampons ou des
# exploitations quelconques des valeurs données dans ce fichier n'ont pas lieu.
# N'utilisez que les fichiers dont vous connaissez la provenance !
# Pour tout dire, et parce que c'est en général utile, voici un
# moyen d'exécuter automatiquement une commande dans l'installateur.

# La première commande est exécutée aussi tôt que possible, juste après
# la lecture du fichier.
#d-i preseed/early_command string anna-install some-udeb
# Cette commande est exécutée juste avant que le partitionneur ne commence. Il peut être
# utile de préconfigurer le partitionneur en fonction de l'état des disques
# (qui ne sont peut-être pas visibles quand preseed/early_command est exécutée).
#d-i partman/early_command \
#       string debconf-set partman-auto/disk "$(list-devices disk | head -n1)"
# Cette commande est exécutée juste avant que l'installation ne se termine,
# mais quand le répertoire /target est encore utilisable. Vous pouvez exécuter
# chroot /target et utiliser cet environnement directement ; ou bien vous
# pouvez utiliser les commandes apt-install et in-target pour installer des
# paquets et lancer des commandes dans le répertoire target.
#d-i preseed/late_command string apt-install zsh; in-target chsh -s /bin/zsh
